* {
    background: rgba(30, 51, 59, 0.7);
    primary: #88d1ec;
    primary-fixed: #b7eaff;
    primary-fixed-dim: #88d1ec;
    on-primary: #003543;
    on-primary-fixed: #001f28;
    on-primary-fixed-variant: #004e61;
    primary-container: #004e61;
    on-primary-container: #b7eaff;
    secondary: #b3cad4;
    secondary-fixed: #cfe6f1;
    secondary-fixed-dim: #b3cad4;
    on-secondary: #1e333b;
    on-secondary-fixed: #071e26;
    on-secondary-fixed-variant: #344a52;
    secondary-container: #344a52;
    on-secondary-container: #cfe6f1;
    tertiary: #c3c3eb;
    tertiary-fixed: #e1e0ff;
    tertiary-fixed-dim: #c3c3eb;
    on-tertiary: #2c2e4d;
    on-tertiary-fixed: #171837;
    on-tertiary-fixed-variant: #424465;
    tertiary-container: #424465;
    on-tertiary-container: #e1e0ff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0f1416;
    on-surface: #dee3e6;
    on-surface-variant: #bfc8cc;
    outline: #8a9296;
    outline-variant: #40484c;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dee3e6;
    inverse-on-surface: #2c3134;
    inverse-primary: #07677f;
    surface-dim: #0f1416;
    surface-bright: #353a3c;
    surface-container-lowest: #0a0f11;
    surface-container-low: #171c1f;
    surface-container: #1b2023;
    surface-container-high: #252b2d;
    surface-container-highest: #303638;
}
